<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py $(find anya_slam1)/urdf/base.urdf.xacro" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model anya_base"    />
    <rosparam file ="$(find anya_slam1)/config/base_controller.yaml"/>
    <node name= "controller_spawner" pkg= "controller_manager" type="spawner" args="base_controller"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>