<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find moveit_v2)/config/controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/v2_main_body"
    args="namespace=/v2_main_body
    joint_state_controller
    left_arm_controller
    timeout 20"/> -->

  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/v2_main_body"
    args="namespace=/v2_main_body
    joint_state_controller"/> -->

  <node name= "controller_spawner" pkg= "controller_manager" type="spawner" respawn="false" 
  output="screen" args="left_arm_controller joint_state_controller" ns="/v2_main_body"/>

</launch>
